/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


html {
  scroll-behavior: smooth;
}
/* Temel Stil Ayarları */

body {
  font-family: 'Mulish';
  background-color: #F7F7F7;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
}

.container {
  width: auto; 
  margin: 0 auto;
}

.content-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; 
}

/* index.html */
/* Header Bileşenleri */

.header {
  background-color: #fff;
  height: 7rem;
  padding: 1em 3em;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-img {
  width: 11rem; 
  height: auto;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-right: 0;
  margin-left: auto;
}

/* Arama Çubuğu */

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem; 
  margin-left: auto;
}

#search-bar {
  width: 25rem;
  height: 2.5rem;
  padding: 0.5em 1.5em;
  border: 1px solid #ccc;
  border-radius: 2rem;
  font-size: 1rem;
  outline: none;
}

#search-bar:hover {
  border: 1px solid #FFB01D;
}

/* Dil Seçici */

.language-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 1em;
  right: 1em;
  left: auto;
}

.language-selector select {
  width: 6rem;
  height: 2.5rem;
  border: 1px solid #ccc;
  border-radius: 2rem;
  font-size: 1rem;
  padding: 0 0.5rem;
  text-align: center;
}

#language-selector {
  width: 4rem;
  height: 2.5rem;
  padding: 0 0.5rem;
  border: 1px solid #ccc;
  border-radius: 2rem;
  font-size: 1rem;
  margin-right: auto;
}

/* Select2 Özelleştirmeleri */

.select2-container--default .select2-selection--single .select2-selection__rendered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__rendered img {
  width: 20px;
  height: 15px;
  margin-bottom:7px;
  margin-right: 10px;
  vertical-align: middle;
  padding-left: .5em;
}

.select2-container--open .select2-results__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
}

.select2-container--open .select2-results__option img {
  margin-right: 10px;
  margin-left: 0;
  vertical-align: middle;
}

/* Hamburger Menü */

.menu-button {
  cursor: pointer;
  z-index: 1000;
  margin-left: 1rem;
  -webkit-tap-highlight-color: transparent;
}

.menu-icon {
  width: 35px;
  height: 35px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.menu-icon:hover {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.hamburger-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
  z-index: 1001;
  margin-left: auto;
}

.hamburger-menu.active {
  right: 0;
}

.menu-content {
  padding: 2rem;
  position: relative;
}

.close-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #32324D;
  -webkit-tap-highlight-color: transparent;
}

.close-menu:hover{
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  color: #f57c00;
}

.menu-items {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.menu-link {
  color: #32324D;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.menu-link:hover {
  color: #FFB01D;
}
/* Hamburger Menu Icons */
.menu-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #e0e0e0;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;  /* İkon genişliğini ayarlayın */
  height: 25px; /* İkon yüksekliğini ayarlayın */
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; /* Hover efekti */
}

.icon img {
  width: 100%; /* Görselin boyutunu icon boyutuna uydur */
  height: 100%; /* Görselin boyutunu icon boyutuna uydur */
  -o-object-fit: contain;
     object-fit: contain; /* Görselin orijinal oranını koruyarak kutuya sığdır */
}

.icon:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); /* Hover'da biraz büyütme efekti */
}

/* Kategori Seçici */

.category-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto; 
  -ms-scroll-snap-type: x mandatory; 
      scroll-snap-type: x mandatory; 
  -ms-flex-pack: distribute; 
      justify-content: space-around;
  margin: 0.625rem 0;
  background-color: #fff;
  padding: 0.625rem; 
  border-radius: 0.5rem; 
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Category Titles için yeni stiller */
#category-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  position: sticky;
  top: 0;
  z-index: 700;
  padding: 15px 0;
  background-color: #F7F7F7;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  scroll-behavior: smooth;
}

.category-button {
  background-color: #fff;
  font-size: 1.5rem;
  border-radius: 0.9em;
  padding: 1rem 1.5rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border: none;
  color: #666687;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform, opacity;  /* Animasyonun performansını artırmak için */

  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  scroll-snap-align: start; /* Kaydırırken her butonun başlangıç noktasında hizalanmasını sağlar */
  -ms-flex-negative: 0;
      flex-shrink: 0; /* Butonlar küçülmesin */

}

.category-button:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-button.active {
  background-color: #FFB01D;
  color: #fff;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 4px 12px rgba(255, 176, 29, 0.3);
          box-shadow: 0 4px 12px rgba(255, 176, 29, 0.3);
}

.category-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.category-button:hover::after {
  width: 80%;
}

.category-button.active::after {
  width: 90%;
}

/* Menü Öğeleri */
/* Kategori Başlıkları */

.category-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.25rem; 
}

.category-header h3 {
  font-size: 1.5rem; 
  color: #666687;
  margin: 0;
  margin-top: 1rem;
}

.category-header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFB01D;
  text-decoration: none;
  font-weight: bold;
}

.category-header a:hover {
  color: #FFB01D;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.arrow{
  padding-left: 0.3em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 16px;
  height: 16px;
}

/* Menü İçeriği */

.item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1.25rem;
  margin-top: 0.5rem;
  padding: 0.625rem 0;
  scrollbar-width: none;
}
.item-container::-webkit-scrollbar {
  display: none;
}

.menu-item {
  width: calc(100% - 1.25rem);
  max-width: 15rem; 
  height: 21rem;
  background-color: #fff;
  border-radius: 1.5rem; 
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
          box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menu-item:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.menu-item img {
  pointer-events: none;
  height: 15rem;
  width: 15rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu-item h3 {
  font-size: 1.125rem; 
  color: #32324D;
  max-height: 1rem;
  padding: 0.1rem .6rem .5rem .6rem; 
}

.menu-item p {
  font-size: 1rem; 
  color: #f57c00;
  font-weight: bold;
}

/* Bottom Sheet */

.bottom-sheet {
  position:fixed;
  width: 100%;
  max-width: 1200px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  right: 0;
  margin: 0 auto;
  background: white;
  -webkit-box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5rem 5rem 0 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: height 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: height 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out, height 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, height 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, height 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  z-index: 1000;
}

.bottom-sheet-content {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;

}

.bottom-sheet.active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.bottomsheet-img {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -80%) scale(1);
      -ms-transform: translate(-50%, -80%) scale(1);
          transform: translate(-50%, -80%) scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  pointer-events: none;
}

.bottomsheet-img img{
  width: 20rem;
  height: 20rem;
  -o-object-fit: contain;
     object-fit: contain;
  pointer-events: none;
}

.bottomsheet-desc{
  position: fixed;
  bottom: 0;
  z-index: 1;
  margin-bottom:7em; 
  -webkit-box-align: center; 
      -ms-flex-align: center; 
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.bottomsheet-name{
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottomsheet-name h3{
  font-size: 2rem;
}

.bottomsheet-desc p{
  margin-top: 0;
  font-size: 1.25rem;
}

.bottomsheet-name p{
  text-align: right;
  margin-left: 1rem;
  font-size: 2rem;
  color: #f57c00;
  font-weight: bold;
  margin-bottom: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.overlay.active {
  display: block;
}

/* Yukarı Kaydır Butonu */

#scroll-to-top {
  opacity: 60%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #c0c0cf00;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: none;
  z-index: 800;
}

.button-icon {
  width: 3rem;
}

/* category.html */
/* Header Bileşenleri */

.detail-header{
  background-color: #fff;
  height: 7rem;
  padding: 1em 3em;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.back-button {
  cursor: pointer;
}

.back-icon {
  width: 35px;
  height: 35px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.back-icon:hover{
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.category-detail-title {
  text-align: center;
  margin: 0;
  color: #32324D;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 1em;
  font-size: 2em;
}

/* Menü İçerikleri */

.category-content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
  height: auto;
}

.content-img{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.content-img img{
  width: 15em;
  height: 15em;
  -o-object-fit: contain;
     object-fit: contain;
}

.content-desc{
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-desc h3{
  color: #32324D;
  font-weight: bold;
  margin-bottom: .5em;
}

.item-description{
  color: #C0C0CF;
  margin-top: 0;
  margin-bottom: 2em;
}

.item-price{
  color: #f57c00;
  font-weight: bold;
  margin-top: 0;
}


/* Tablet Ekran Duyarlılığı */
@media (min-width: 601px) and (max-width: 1024px) {
  .menu-item {
    width: calc(50% - 1.25rem);
  }

  .content-container {
    padding: 0;
  }

  .header {
    margin-bottom: 2em;
  }

  .detail-header{
    height: 4rem;
    padding: 1em 2em;
  }

  .category-detail-title {
    font-size: 1.5em;
    padding: 0;
  }
  
  .search-container {
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 0;
  }
  
  #search-bar {
    height: 1.5rem;
    max-width: 15rem;
  }

  .menu-icon {
    width: 30px;
    height: 30px;
  }

  .back-icon {
    width: 30px;
    height: 30px;
  }

  .suggestions {
    width: 83%;
  }

  .suggestion-item {
    height: 5rem;
    font-size: .9em;
  }

  .suggestion-item img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0;
  }

  .item-container {
    gap: 0;
  }

  #category-titles {
    margin-top: 0;
    padding-bottom: .75em;
    padding-left: 0;
    padding-right: 2em;
  }

  .category-button {
    font-size: 1.25rem;
    padding: 1rem;
    margin-top: 0;
    margin-left: 1em;
    margin-right: 0;
  }

  .menu-item {
    margin-left: 1.25em;
    margin-right: 0;
    width: 10rem;
    height: 13rem;
    border-radius: 1rem; 
  }

  .category-header h3 {
    margin-left: 1.25em;
    font-size: 1.25rem;
  }

  .category-header a {
    margin-right: 1em;
    font-size: 1rem;
  }

  .menu-item img {
    height: 9rem;
    width: 9rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .menu-item h3{
    padding: 0;
    margin-top: 1em;
    margin-bottom: 2em;
    height: .5em;
    max-height: .5em;
  }
  
  .menu-item p {
    margin-bottom: 0;
  }

  #category-products-container {
    margin: 0 1em;
  }

  .category-content{
    border-radius: 1rem;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
  }

  .content-img img{
    width: 8em;
    height: 8em;
    margin-left: 1em;
  }

  .content-desc{
    margin-left: 1em;
  }

  .content-desc h3{
    font-size: 1rem;
    margin-bottom: .5em;
    margin-right: 1em;
  }

  .item-description{
    margin-right: 1em;
    font-size: .9rem;
    margin-bottom: 1em;
  }

  .item-price{
    font-size: .9rem;
  }
  
  .bottom-sheet {
    border-radius: 2rem 2rem 0 0;
  }
  .bottomsheet-desc{
    margin: 1em;
  }
  .bottom-sheet-content {
    padding: 1em;
  }

  .bottomsheet-img img{
    width: 15rem;
    height: 15rem;
  }

  .bottomsheet-name h3{
    font-size: 1.3rem;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }

  .bottomsheet-desc p{
    margin-top: 0;
    font-size: 1rem;
  }

  .bottomsheet-name p{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 1rem;
    font-size: 1.3rem;
    margin-bottom: 0;
    max-lines: 1;
  }
}

/* Mobil Ekran Duyarlılığı */
@media (max-width: 600px) {
  .header {
    padding: 1em;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .detail-header{
    height: 2em;
    padding: 1em 1em;
  }

  .category-detail-title {
    font-size: 1.25em;
    padding: 0;
  }

  .category-header {
    margin-top: 0;
  }

  .menu-icon {
    width: 25px;
    height: 25px;
  }

  .back-icon {
    width: 25px;
    height: 25px;
  }

  .header-img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: .5em;
  }

  .header-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
  }

  #search-bar {
    height: 1.25rem;
    width: 15rem;
  }

  .menu-button {
    margin-left: 0.5rem;
  }

  .menu-icon {
    width: 20px;
    height: 20px;
  }

  .content-container {
    padding: 0;
  }
  
  .header-img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: .5em;
  }

  .hamburger-menu {
    width: 250px;
  }

  .menu-content {
      padding: 1.5rem;
  }

  .menu-link {
      font-size: 1rem;
  }

  .search-container {
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  #search-bar {
    height: 1.25rem;
    max-width: 15rem;
  }

  .suggestions {
    width: 83%;
  }

  .suggestion-item {
    height: 4rem;
    font-size: .8em;
  }

  .suggestion-item img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0;
  }

  .item-container {
    gap: 0;
  }

  #category-titles {
    padding-bottom: .75em;
    padding-left: 0;
    padding-right: 2em;
  }

  .category-button {
    font-size: 1rem;
    padding: .75rem;
    margin-top: 0;
    margin-left: 1em;
    margin-right: 0;
  }

  .menu-item {
    margin-left: 1em;
    margin-right: 0;
    width: 100%;
  }

  .category-header h3 {
    margin-left: 1em;
    font-size: 1rem;
  }

  .category-header a {
    margin-right: 1em;
    font-size: .75rem;
  }

  .menu-item img {
    height: 6rem;
    width: 6rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .menu-item {
    max-width: 7rem; 
    height: 10rem;
    border-radius: 1rem; 
  }

  .menu-item h3{
    padding: 0;
    margin-top: 0.4em;
    margin-bottom: 2.5em;
    height: .5em;
    max-height: .5em;
  }
  
  .menu-item p {
    margin-bottom: 0;
  }

  #scroll-to-top {
    bottom: 15px;
    right: 15px;
    padding: 8px;
  }

  #category-products-container {
    margin: 0 1em;
  }

  .category-content{
    border-radius: 1rem;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
  }

  .content-img img{
    width: 6em;
    height: 6em;
    margin-left: 1em;
  }

  .content-desc{
    margin-left: 1em;
  }

  .content-desc h3{
    font-size: .8rem;
    margin-bottom: .5em;
    margin-right: 1em;
  }

  .item-description{
    margin-right: 1em;
    font-size: .75rem;
    margin-bottom: 1em;
  }

  .item-price{
    font-size: .75rem;
  }

  .bottom-sheet {
    border-radius: 2rem 2rem 0 0;
  }
  .bottomsheet-desc{
    margin: 1em;
    margin-bottom: 5em;
  }
  .bottom-sheet-content {
    padding: 1em;
  }

  .bottomsheet-img img{
    width: 12rem;
    height: 12rem;
  }

  .bottomsheet-name h3{
    font-size: 1.1rem;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }

  .bottomsheet-desc p{
    margin-top: 0;
    font-size: .9rem;
  }

  .bottomsheet-name p{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 1rem;
    font-size: 1.1rem;
    margin-bottom: 0;
    max-lines: 1;
  }
}

/* Mobil ekran için header düzenlemeleri */
@media (max-width: 600px) {
  /* Ana sayfa header düzenlemeleri */
  .header {
    padding: 1em;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  /* Ana sayfa için header-right düzenlemesi */
  .container > .header > .header-right {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    margin-top: 0;
  }

  /* Ana sayfa search bar düzenlemesi */
  .container > .header > .header-right #search-bar {
    height: 1.25rem;
    width: 15rem;
  }

  /* Ana sayfa menu button düzenlemesi */
  .container > .header > .header-right .menu-button {
    position: absolute;
    right: 0;
    margin-left: 0;
  }

  /* Kategori sayfası header düzenlemesi - mevcut yapıyı koru */
  .detail-header {
    height: 2em;
    padding: 1em 1em;
  }

  .category-detail-title {
    font-size: 1.25em;
    padding: 0;
    text-align: center;
  }
}