@font-face {
  font-family: Mulish;
  src: url('../font/Mulish-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/* Genel Stil Ayarları */
body {
  font-family: Mulish;
  background-color: #f5f5f5;
  font-size: 16px; /* 1rem = 16px */
  user-select: none;
  margin: 0;
}

.container {
  width: auto; 
  margin: 0 auto;
}

/* Header */
.header {
  background-color: #fff;
  height: 7rem;
  padding: 1em 3em;
  margin-bottom: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-img {
  width: 11rem; 
  height: auto;
}

/* Search bar */
.search-container {
  position: relative;
}

#search-bar {
  width: 25rem; /* Arama çubuğunun genişliği */
  height: 2rem;
  padding: .5em 1.5em; /* İçerik için boşluk */
  border: 1px solid #ccc; /* Kenarlık */
  border-radius: 2rem; /* Kenarları yuvarlamak için */
  font-size: 1rem; /* Yazı boyutu */
  outline: none;
}

#search-bar:hover {
  border: 1px solid #FFB01D; /* Kenarlık */
}

.suggestions {
  border: 1px solid #ccc;
  border-radius: 0 0 3em 3em;
  background-color: #fff;
  position: absolute; /* Arama çubuğunun altında konumlandırmak için */
  z-index: 1000; /* Diğer içeriklerin üzerinde görünmesi için */
  max-height: 15rem; /* Maksimum yükseklik */
  overflow-y: auto; /* Taşma durumunda kaydırma çubuğu */
  width: 89%; /* Arama çubuğunun genişliğiyle aynı */
  display: none; /* Başlangıçta gizli */
  top: 100%; /* Arama çubuğunun altına yerleştirin */
  left: 1.5rem; /* Arama çubuğunun sol kenarıyla hizalayın */
  scrollbar-width: none;
}

.suggestions::-webkit-scrollbar {
  display: none;
}

.suggestion-item {
  display: flex; /* Resim ve metni yan yana yerleştirmek için */
  align-items: center; /* Dikey ortalamak için */
  padding: 0.5rem;
  cursor: pointer; /* Üzerine gelindiğinde imleci değiştirmek için */
  height: 7rem;
}

.suggestion-item img {
  width: 7rem; /* Resim genişliği */
  height: 7rem; /* Resim yüksekliği */
  object-fit: contain;
  margin-right: 0.5rem; /* Resim ile metin arasında boşluk */
  margin-bottom: 1em;
}

/* Category Menü */

.content-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; 
}

.menu-container {
  max-width: 50rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

/* Üst kategori başlıkları */

#category-titles {
  display: flex; /* Flexbox kullanarak yan yana hizala */
  overflow-x: auto; /* Taşma durumunda yatay kaydırma çubuğu göster */
  white-space: nowrap; /* İçerik tek satırda kalsın */
  margin-top: 20px; /* Üstten boşluk */
  scrollbar-width: none; 
}

#category-titles::-webkit-scrollbar {
  display: none; /* Webkit tabanlı tarayıcılarda kaydırma çubuğunu gizle */
}

.category-button {
  background-color: #fff;
  font-size: 1.5rem;
  border-radius: .9em;
  padding: 1rem;
  margin-right: 1rem; /* Sağda boşluk bırak */
  margin-top: 1rem; /* Yukarıda boşluk bırak */
  border: none;
  color: #666687;
}

.category-button:hover{
  background-color: #FFB01D;
  color: #fff;
  transition: .5s;
}

.category-titles {
  display: flex;
  justify-content: space-around;
  margin: 0.625rem 0;
  background-color: #fff;
  padding: 0.625rem; 
  border-radius: 0.5rem; 
  overflow-x: auto;
}

.category-title:hover {
  text-decoration: underline;
}


/* Kategori Menü İçeriği */
.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem; 
}

.category-header h3 {
  font-size: 1.5rem; 
  color: #666687;
  margin: 0;
  margin-top: 1rem;
}

.category-header a {
  color: #666687;
  text-decoration: none;
  font-weight: bold;
}

.category-header a:hover {
  color: #FFB01D;
  transition: .5s;
}

/* bottom sheet*/
.bottom-sheet {
  position: fixed;
  width: 100%;
  max-width: 1200px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: white;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(100%); /* Başlangıçta gizli */
  transition: transform 0.3s ease; /* Geçiş animasyonu */
  z-index: 1000; /* Overlay üstünde görünmesi için */
}

.bottom-sheet.active {
  transform: translateY(0); /* Görünür hale gelince yukarı kaydır */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none; /* Başlangıçta gizli */
  z-index: 999; /* Bottom sheet'in altında görünmesi için */
}

.overlay.active {
  display: block; /* Görünür hale gelince göster */
}
.item-container {
  display: flex;
  overflow-x: auto; /* İçerik taşarsa kaydırma sağlar */
  overflow-y: hidden; /* Dikey kaydırmayı gizle */
  gap: 1.25rem;
  margin-top: 0.5rem;
  padding: 0.625rem 0;
  scrollbar-width: none; /* Firefox için kaydırma çubuğunu gizle */
}
.item-container::-webkit-scrollbar {
  display: none; /* Webkit tabanlı tarayıcılarda kaydırma çubuğunu gizle */
}
/* yukarı kaydır butonu */ 
#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: none; /* Başlangıçta görünmez */
  z-index: 1000; /* Diğer öğelerin üstünde görünmesi için */
}

#scroll-to-top:hover {
  background-color: #0056b3; /* Üzerine gelindiğinde butonun rengini değiştirme */
}

/* Menü Öğeleri için Stil */
.menu-item {
  width: calc(100% - 1.25rem); /* Ekranın %100'ü - boşluklar */
  max-width: 15rem; 
  height: 21rem; /* Yükseklik sabit */
  background-color: #fff;
  border-radius: 1.5rem; 
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 0.625rem;
  transition: transform 0.2s;
  flex-shrink: 0; /* Boyutların değişmemesi için */
}

.menu-item:hover {
  transform: scale(1.05);
}

.menu-item img {
  pointer-events: none; /* Resimlere tıklanmayı engelle */
  height: 15rem; /* Resim yüksekliği sabit */
  width: 15rem; /* Resim genişliği sabit */
  object-fit: contain; /* Resmin kesilmesini engellemek için */
}

.menu-item h3 {
  font-size: 1.125rem; 
  color: #32324D;
  max-height: 1rem;
  padding: 0.1rem .6rem .5rem .6rem; 
}

.menu-item p {
  font-size: 1rem; 
  color: #f57c00;
  font-weight: bold;
}

/* category.html için Stil Ayarlamaları */
.category-item-container {
  display: block;
}

.category-menu-item {
  width: 100%;
  margin: 0.625rem 0; 
  padding: 0.625rem; 
  background-color: #fff;
  border-radius: 0.5rem; 
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
  text-align: center;
}

.category-menu-item img {
  width: 6.25rem; /* Resim genişliği sabit */
  height: 6.25rem; /* Resim yüksekliği sabit */
  border-radius: 50%;
  object-fit: cover; /* Resmin kesilmesini engellemek için */
}

.category-content{
  display: flex;
  background-color: #fff;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
  height: auto;
}

.content-img{
  flex: 1;
  width: 5rem;
  display: flex;
  align-items: center; /* Resmin dikey olarak ortalanmasını sağlar */
  justify-content: center;
  padding: 1rem;
}

.content-img img{
  width: 15em;
  height: 15em;
  object-fit: contain;
}

.content-desc{
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-desc h3{
  color: #32324D;
  font-weight: bold;
  margin-bottom: .5em;
}

.item-description{
  color: #C0C0CF;
  margin-top: 0;
  margin-bottom: 2em;
}

.item-price{
  color: #f57c00;
  font-weight: bold;
  margin-top: 0;
}

/* Mobil Ekran Duyarlılığı */
@media (max-width: 600px) {
  .header {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  .content-container {
    padding: 0;
  }
  
  .header-img {
    align-self: center;
    margin-bottom: .5em;
  }
  
  /* Search bar */
  .search-container {
    position: relative;
    align-self: center;
    margin-right: 0;
  }
  
  #search-bar {
    height: 1.5rem;
    max-width: 15rem;
  }

  .suggestions {
    width: 83%; /* Arama çubuğunun genişliğiyle aynı */
  }

  .suggestion-item {
    height: 4rem;
    font-size: .8em;
  }

  .suggestion-item img {
    width: 5rem; /* Resim genişliği */
    height: 5rem; /* Resim yüksekliği */
    margin-bottom: 0;
  }

  .item-container {
    gap: 0;
  }

  .category-button {
    font-size: 1rem; /* Daha küçük yazı boyutu */
    padding: .75rem; /* Daha az boşluk */
    margin-top: 0;
    margin-left: 1em;
    margin-right: 0;
  }

  .menu-item {
    margin-left: 1em;
    margin-right: 0;
    width: 100%; /* Mobilde tam genişlik */
  }

  .category-header h3 {
    margin-left: 1em;
    font-size: 1rem; /* Daha küçük başlık boyutu */
  }

  .category-header a {
    margin-right: 1em;
    font-size: .75rem;
  }

  .menu-item img {
    height: 6rem; /* Resim boyutunu küçült */
    width: 6rem;
  }

  .menu-item {
    max-width: 7rem; 
    height: 10rem;
    border-radius: 1rem; 
  }

  .menu-item h3{
    padding: 0;
    margin-top: 1em;
    margin-bottom: 2em;
    height: .5em;
    max-height: .5em;
  }
  
  .menu-item p {
    margin-bottom: 0;
  }

  #scroll-to-top {
    bottom: 15px; /* Mobilde yukarı kaydır butonunun konumu */
    right: 15px;
    padding: 8px; /* Daha az boşluk */
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .menu-item {
    width: calc(50% - 1.25rem); /* Tabletlerde yarım genişlik */
  }

  .content-container {
    padding: 0;
  }

  .header {
    margin-bottom: 2em;
  }
  
  /* Search bar */
  .search-container {
    position: relative;
    align-self: center;
    margin-right: 0;
  }
  
  #search-bar {
    height: 1.5rem;
    max-width: 15rem;
  }

  .suggestions {
    width: 83%; /* Arama çubuğunun genişliğiyle aynı */
  }

  .suggestion-item {
    height: 5rem;
    font-size: .9em;
  }

  .suggestion-item img {
    width: 5rem; /* Resim genişliği */
    height: 5rem; /* Resim yüksekliği */
    margin-bottom: 0;
  }

  .item-container {
    gap: 0;
  }

  #category-titles {
    margin-top: 0;
  }

  .category-button {
    font-size: 1.25rem; /* Daha küçük yazı boyutu */
    padding: 1rem; /* Daha az boşluk */
    margin-top: 0;
    margin-left: 1em;
    margin-right: 0;
  }

  .menu-item {
    margin-left: 1.25em;
    margin-right: 0;
    width: 10rem; /* Mobilde tam genişlik */
    height: 13rem;
    border-radius: 1rem; 
  }

  .category-header h3 {
    margin-left: 1.25em;
    font-size: 1.25rem; /* Daha küçük başlık boyutu */
  }

  .category-header a {
    margin-right: 1em;
    font-size: 1rem;
  }

  .menu-item img {
    height: 9rem; /* Resim boyutunu küçült */
    width: 9rem;
  }

  .menu-item h3{
    padding: 0;
    margin-top: 1em;
    margin-bottom: 2em;
    height: .5em;
    max-height: .5em;
  }
  
  .menu-item p {
    margin-bottom: 0;
  }
}