@font-face {
  font-family: Mulish;
  src: url('../font/Mulish-Regular.ttf'); /* Font dosyasının yolunu belirt */
  font-weight: normal;
  font-style: normal;
}

/* Genel Stil Ayarları */
body {
  font-family: Mulish;
  background-color: #f5f5f5;
  font-size: 16px; /* 1rem = 16px */
  margin: 0 20rem;
  user-select: none;
}

/* Header */
.header {
  background-color: #fff;
  height: 7rem;
  padding: 1em 3em;
  margin-bottom: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* Arama çubuğunun altında öneri listesi için konumlandırma */
}

.search-container {
  position: relative; /* Öneri listesinin konumunu ayarlamak için */
}

#search-bar {
  width: 35rem; /* Arama çubuğunun genişliği */
  padding: 0.5rem; /* İçerik için boşluk */
  border: 1px solid #ccc; /* Kenarlık */
  border-radius: 5px; /* Kenarları yuvarlamak için */
  font-size: 1rem; /* Yazı boyutu */
}

.suggestions {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  position: absolute; /* Arama çubuğunun altında konumlandırmak için */
  z-index: 1000; /* Diğer içeriklerin üzerinde görünmesi için */
  max-height: 200px; /* Maksimum yükseklik */
  overflow-y: auto; /* Taşma durumunda kaydırma çubuğu */
  width: 35rem; /* Arama çubuğunun genişliğiyle aynı */
  display: none; /* Başlangıçta gizli */
  top: 100%; /* Arama çubuğunun altına yerleştirin */
  left: 0; /* Arama çubuğunun sol kenarıyla hizalayın */
}
.suggestion-item {
  display: flex; /* Resim ve metni yan yana yerleştirmek için */
  align-items: center; /* Dikey ortalamak için */
  padding: 0.5rem;
  cursor: pointer; /* Üzerine gelindiğinde imleci değiştirmek için */
}

.suggestion-item img {
  width: 2rem; /* Resim genişliği */
  height: 2rem; /* Resim yüksekliği */
  border-radius: 50%; /* Daire şeklinde yapar */
  margin-right: 0.5rem; /* Resim ile metin arasında boşluk */
}
.header img {
  width: 11rem; 
  height: auto;
}

.menu-container {
  max-width: 50rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

#category-titles {
  display: flex; /* Flexbox kullanarak yan yana hizala */
  overflow-x: auto; /* Taşma durumunda yatay kaydırma çubuğu göster */
  white-space: nowrap; /* İçerik tek satırda kalsın */
  margin-top: 20px; /* Üstten boşluk */
  scrollbar-width: none; 
}

#category-titles::-webkit-scrollbar {
  display: none; /* Webkit tabanlı tarayıcılarda kaydırma çubuğunu gizle */
}

.category-button {
  background-color: #fff;
  font-size: 1.5rem;
  border-radius: .9em;
  padding: 1rem;
  margin-right: 1rem; /* Sağda boşluk bırak */
  margin-top: 1rem; /* Yukarıda boşluk bırak */
  border: none;
  color: #666687;
}

.category-button:hover{
  background-color: #FFB01D;
  color: #fff;
  transition: .5s;
}

.category-titles {
  display: flex;
  justify-content: space-around;
  margin: 0.625rem 0;
  background-color: #fff;
  padding: 0.625rem; 
  border-radius: 0.5rem; 
  overflow-x: auto;
}

.category-title {
  background-color: #fff;
  cursor: pointer;
  color: #007bff;
  font-weight: bold;
}

.category-title:hover {
  text-decoration: underline;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem; 
}

.category-header h3 {
  font-size: 1.5rem; 
  color: #666687;
  margin: 0;
  margin-top: 1rem;
}

.category-header a {
  color: #666687;
  text-decoration: none;
  font-weight: bold;
}

.category-header a:hover {
  color: #FFB01D;
  transition: .5s;
}

.item-container {
  display: flex;
  overflow-x: auto; /* İçerik taşarsa kaydırma sağlar */
  overflow-y: hidden; /* Dikey kaydırmayı gizle */
  gap: 1.25rem;
  margin-top: 0.5rem;
  padding: 0.625rem 0;
  scrollbar-width: none; /* Firefox için kaydırma çubuğunu gizle */
}
.item-container::-webkit-scrollbar {
  display: none; /* Webkit tabanlı tarayıcılarda kaydırma çubuğunu gizle */
}
/* yukarı kaydır butonu */ 
#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: none; /* Başlangıçta görünmez */
  z-index: 1000; /* Diğer öğelerin üstünde görünmesi için */
}

#scroll-to-top:hover {
  background-color: #0056b3; /* Üzerine gelindiğinde butonun rengini değiştirme */
}

/* Menü Öğeleri için Stil */
.menu-item {
  width: 15rem; 
  height: 21rem; /* Yükseklik sabit */
  background-color: #fff;
  border-radius: 1.5rem; 
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 0.625rem;
  transition: transform 0.2s;
  flex-shrink: 0; /* Boyutların değişmemesi için */
}

.menu-item:hover {
  transform: scale(1.05);
}

.menu-item img {
  pointer-events: none; /* Resimlere tıklanmayı engelle */
  height: 15rem; /* Resim yüksekliği sabit */
  width: 15rem; /* Resim genişliği sabit */
  object-fit: contain; /* Resmin kesilmesini engellemek için */
}

.menu-item h3 {
  font-size: 1.125rem; 
  color: #333;
  max-height: 1rem;
  padding: 0.1rem .6rem .5rem .6rem; 
}

.menu-item p {
  font-size: 1rem; 
  color: #f57c00;
  font-weight: bold;
}

/* category.html için Stil Ayarlamaları */
.category-item-container {
  display: block;
}

.category-menu-item {
  width: 100%;
  margin: 0.625rem 0; 
  padding: 0.625rem; 
  background-color: #fff;
  border-radius: 0.5rem; 
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
  text-align: center;
}

.category-menu-item img {
  width: 6.25rem; /* Resim genişliği sabit */
  height: 6.25rem; /* Resim yüksekliği sabit */
  border-radius: 50%;
  object-fit: cover; /* Resmin kesilmesini engellemek için */
}

.category-content{
  display: flex;
  background-color: #fff;
  border-radius: 1.5rem;
}

.content-img{
  flex: 1;
  width: 5rem;
}

.content-img img{
  width: 100%;
}

.content-desc{
  flex: 3;
}

/* Responsive Ayarlar */

/* Mobil Cihazlar için (max-width: 600px) */
@media (max-width: 37.5rem) {
  .menu-container {
    padding: 0.625rem; /* 10px */
  }

  .category-titles {
    flex-direction: column;
    align-items: center;
    padding: 0.3125rem; /* 5px */
  }

  .item-container {
    flex-direction: column;
    gap: 0.625rem; /* 10px */
  }

  .menu-item {
    width: 100%;
  }

  .category-header h2 {
    font-size: 1.25rem; /* 20px */
  }

  .menu-item img,
  .category-menu-item img {
    max-width: 5rem; /* 80px */
  }

  .header {
    height: auto;
  }

  .header img {
    width: 5rem; /* 80px */
  }
}

/* Tablet Cihazlar için (min-width: 601px ve max-width: 1024px) */
@media (min-width: 37.5625rem) and (max-width: 64rem) {
  .menu-container {
    padding: 0.9375rem; /* 15px */
  }

  .category-titles {
    justify-content: space-between;
    padding: 0.625rem; /* 10px */
  }

  .menu-item {
    width: calc(50% - 0.625rem); /* %50 genişlik - 10px */
  }

  .category-header h2 {
    font-size: 1.375rem; /* 22px */
  }

  .menu-item img,
  .category-menu-item img {
    max-width: 5.625rem; /* 90px */
  }

  .header img {
    width: 5.625rem; /* 90px */
  }
}
