body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}
.menu-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.category-titles {
  display: flex; /* Yatay düzen için flex kullanılıyor */
  justify-content: space-around;
  margin: 10px 0;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  overflow-x: auto; /* Taşan içerikler için kaydırma özelliği */
}
.category-title {
  cursor: pointer;
  color: #007bff;
  font-weight: bold;
}
.category-title:hover {
  text-decoration: underline;
}
.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.category-header h2 {
  font-size: 24px;
  color: #333;
}
.item-container {
  display: flex; /* Flexbox kullanarak yatay listeleme */
    overflow-x: auto; /* Yatay kaydırma sağlar */
    gap: 20px; /* Elemanlar arasında boşluk */
    margin-top: 10px;
    padding: 10px 0; /* Üst ve alt boşluk ekleyin */
}
.menu-item {
  width: calc(50% - 10px);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  transition: transform 0.2s;
}
.menu-item:hover {
  transform: scale(1.05);
}
.menu-item img {
  width: 100%;
  max-width: 100px;
  border-radius: 50%;
}
.menu-item h3 {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}
.menu-item p {
  font-size: 16px;
  color: #f57c00;
}
